@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Righteous&family=Roboto:wght@500;700;900&display=swap');
;


* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
}


.app_container {
    height          : 100vh;
    display         : flex;
    color           : white;
    background-color: #061161;
}


.main {
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
        url("../src/assets/image05.png") center;
    display       : flex;
    flex-direction: column;
}


.price_list {
    width           : 25%;
    background-color: #020230;
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-wrap       : wrap;
}


.moneyList {
    padding        : 20px;
    list-style-type: none;
    width          : 100%;
}


.moneyListItem {
    display      : flex;
    align-items  : center;
    padding      : 5px;
    border-radius: 5px;
}


.moneyListItem.active {
    background-color: #ffa800;
    color           : black;
}


.moneyListItemNumber {
    width       : 30%;
    font-size   : 25px;
    font-weight : 100;
    text-align  : right;
    margin-right: 60px;
}


.moneyListItemAmount {
    font-size  : 25px;
    font-weight: 300;
}


.top {
    height  : 50%;
    position: relative;
    margin  : 0px auto;
}


.timer {
    width          : 100px;
    height         : 100px;
    border-radius  : 50%;
    border         : 2px solid #ffa800;
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    bottom         : -65px;
    left           : -56px;
    font-size      : 35px;
    font-weight    : 700;
    padding        : 5px;
    background     : linear-gradient(black, #100241);
}


.bottom {
    height: 50%;
}


.quiz {
    height         : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;
}


.question {
    width        : 80%;
    background   : linear-gradient(#100241, black);
    text-align   : center;
    padding      : 20px;
    border-radius: 35px;
    border       : 2px solid #ffa800;
    font-size    : 30px;
    z-index      : 10;
}


.answers {
    width          : 100%;
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
}


.answer {
    width        : 40%;
    padding      : 10px;
    margin       : 0 10px 20px 10px;
    text-align   : center;
    background   : linear-gradient(#0e0124, #061161);
    border       : 1px solid #ffa800;
    border-radius: 25px;
    font-weight  : 300;
    font-size    : 30px;
    cursor       : pointer;
}


.answer:hover,
.answer.active {
    background: #2900e0;
}


.answer.correct {
    animation: correct 3s ease forwards;
}


@keyframes correct {

    0%,
    22%,
    42% {
        background: #2900e0;
    }

    20%,
    40%,
    60% {
        background: linear-gradient(#0e0124, #061161);
    }

    62%,
    100% {
        background: #438a19;
    }
}


.answer.wrong {
    animation: wrong 3s ease forwards;
}


@keyframes wrong {

    0%,
    22%,
    42% {
        background: #2900e0;
    }

    20%,
    40%,
    60% {
        background: linear-gradient(#0e0124, #061161);
    }

    62%,
    100% {
        background: #da2100;
    }

}

.lifelines {
    padding        : 10px 0px 0px 0px;
    margin-bottom  : 0px;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
}


.lifeline {
    position        : relative;
    width           : 15%;
    border          : 2px solid #ffa800;
    border-radius   : 50%;
    background-color: transparent;
    cursor          : pointer;
    outline         : none;
    padding         : 10px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}


.lifeline img {
    width: 90%;
}


span.option {
    color: #ffa800;
}



footer {
    position        : fixed;
    bottom          : 1%;
    left            : 1%;
    text-align      : center;
    line-height     : 28px;
    padding         : 15px 20px;
    background-color: lightcyan;
    width           : 331px;
    max-width       : 86%;
    margin-top      : auto;
}


footer a {
    color          : #000;
    text-decoration: none;
}